src/index.pug
extends layouts/base

block title
    - var currentPage = "menu_home"
    - var currentSubPage = "information"
    title cp

block main
    div.submenu-holder
        div.container
            ul.submenu-list
                each page, key in SubMenuItems
                    if currentSubPage === key
                        li(class="active")
                            a(href= page.url)= page.label
                    else
                        li
                            a(href= page.url)= page.label
    section.content
        div.container
            h1.visible-tablet Здравствуйте, Дмитрий
            div.bonus-frame
                div.bonus-block
                    div.percent-col
                        dl.definition-list
                            div
                                dt Ваш процент накопления
                                dd 7%
                    div.bonus-col
                        dl.definition-list
                            div
                                dt Осталось бонусов
                                dd 10 998
                            div
                                dt Общая сумма
                                dd 109 000.17₽
                        a.link(href="" + static_link) История платежей
                div.progress-bar-holder
                    div.top
                        span.number 1₽
                        span.number 500 000₽
                    div.progress-bar
                        div.progress(style="width: 50%;")
                    div.bottom
                        ul.percent-list
                            li 3%
                            li 5%
                            li 7%
                            li 10%
                            li 15%
            h2 Недавние платежи
            div.payment-tile-holder
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 07.02.2021
                        div
                            dt Бонусов
                            dd 200
                        div
                            dt Сумма
                            dd 2 000₽
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 01.02.2021
                        div
                            dt Бонусов
                            dd 5 000
                        div
                            dt Сумма
                            dd 50 000₽
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 29.01.2021
                        div
                            dt Бонусов
                            dd 100
                        div
                            dt Сумма
                            dd 1 001₽
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 19.01.2021
                        div
                            dt Бонусов
                            dd 251
                        div
                            dt Сумма
                            dd 2 510₽
                div.tile.disabled
                    dl.definition-list
                        div
                            dt Заказ
                            dd 12.01.2021
                        div
                            dt Бонусов
                            dd 378
                        div
                            dt Сумма
                            dd 3 781₽
            div.bottom-help-text
                span.date Сегодня
                    time(datetime="2021-02-17") 17.02.2021
                sapn.text-has-exclamation-mark
                    i.exclamation-mark !
                    span Данные обновляются на следующий день

html/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>cp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="all" href="css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <header id="header">
          <div class="container">
            <nav id="nav">
              <input id="check-menu" type="checkbox">
              <div class="menu-holder">
                <label class="close-btn" for="check-menu"></label>
                <ul class="menu">
                  <li class="active"><a href="index.html">Личный кабинет</a></li>
                  <li><a href="#">Партнеры</a></li>
                  <li><a href="#">Условия программы</a></li>
                  <li><a href="#">Поддержка</a></li>
                </ul><a class="logout-btn" href="opened_modal.html"><span class="visible-tablet"> Выйти</span></a>
              </div>
              <label class="toogle-menu" for="check-menu"></label>
              <label class="nav-overlay" for="check-menu"></label>
            </nav>
          </div>
        </header>
        <div class="submenu-holder">
          <div class="container">
            <ul class="submenu-list">
              <li class="active"><a href="index.html">Информация</a></li>
              <li><a href="profile.html">Профиль</a></li>
              <li><a href="security.html">Безопасность</a></li>
              <li><a href="#">История платежей</a></li>
            </ul>
          </div>
        </div>
        <section class="content">
          <div class="container">
            <h1 class="visible-tablet">Здравствуйте, Дмитрий</h1>
            <div class="bonus-frame">
              <div class="bonus-block">
                <div class="percent-col">
                  <dl class="definition-list">
                    <div>
                      <dt>Ваш процент накопления</dt>
                      <dd>7%</dd>
                    </div>
                  </dl>
                </div>
                <div class="bonus-col">
                  <dl class="definition-list">
                    <div>
                      <dt>Осталось бонусов</dt>
                      <dd>10 998</dd>
                    </div>
                    <div>
                      <dt>Общая сумма</dt>
                      <dd>109 000.17₽</dd>
                    </div>
                  </dl><a class="link" href="#">История платежей</a>
                </div>
              </div>
              <div class="progress-bar-holder">
                <div class="top"><span class="number">1₽</span><span class="number">500 000₽</span></div>
                <div class="progress-bar">
                  <div class="progress" style="width: 50%;"></div>
                </div>
                <div class="bottom">
                  <ul class="percent-list">
                    <li>3%</li>
                    <li>5%</li>
                    <li>7%</li>
                    <li>10%</li>
                    <li>15%</li>
                  </ul>
                </div>
              </div>
            </div>
            <h2>Недавние платежи</h2>
            <div class="payment-tile-holder">
              <div class="tile">
                <dl class="definition-list">
                  <div>
                    <dt>Заказ</dt>
                    <dd>07.02.2021</dd>
                  </div>
                  <div>
                    <dt>Бонусов</dt>
                    <dd>200</dd>
                  </div>
                  <div>
                    <dt>Сумма</dt>
                    <dd>2 000₽</dd>
                  </div>
                </dl>
              </div>
              <div class="tile">
                <dl class="definition-list">
                  <div>
                    <dt>Заказ</dt>
                    <dd>01.02.2021</dd>
                  </div>
                  <div>
                    <dt>Бонусов</dt>
                    <dd>5 000</dd>
                  </div>
                  <div>
                    <dt>Сумма</dt>
                    <dd>50 000₽</dd>
                  </div>
                </dl>
              </div>
              <div class="tile">
                <dl class="definition-list">
                  <div>
                    <dt>Заказ</dt>
                    <dd>29.01.2021</dd>
                  </div>
                  <div>
                    <dt>Бонусов</dt>
                    <dd>100</dd>
                  </div>
                  <div>
                    <dt>Сумма</dt>
                    <dd>1 001₽</dd>
                  </div>
                </dl>
              </div>
              <div class="tile">
                <dl class="definition-list">
                  <div>
                    <dt>Заказ</dt>
                    <dd>19.01.2021</dd>
                  </div>
                  <div>
                    <dt>Бонусов</dt>
                    <dd>251</dd>
                  </div>
                  <div>
                    <dt>Сумма</dt>
                    <dd>2 510₽</dd>
                  </div>
                </dl>
              </div>
              <div class="tile disabled">
                <dl class="definition-list">
                  <div>
                    <dt>Заказ</dt>
                    <dd>12.01.2021</dd>
                  </div>
                  <div>
                    <dt>Бонусов</dt>
                    <dd>378</dd>
                  </div>
                  <div>
                    <dt>Сумма</dt>
                    <dd>3 781₽</dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="bottom-help-text"><span class="date">Сегодня
                <time datetime="2021-02-17">17.02.2021</time></span>
              <sapn class="text-has-exclamation-mark"><i class="exclamation-mark">!</i><span>Данные обновляются на следующий день</span></sapn>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.plugins.min.js"></script>
    <script src="js/jquery.main.js"></script>
  </body>
</html>
