html/profile_with_input.html
<!DOCTYPE html>
<html>
  <head>
    <title>cp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="all" href="css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <header id="header">
          <div class="container">
            <nav id="nav">
              <input id="check-menu" type="checkbox">
              <div class="menu-holder">
                <label class="close-btn" for="check-menu"></label>
                <ul class="menu">
                  <li class="active"><a href="index.html">Личный кабинет</a></li>
                  <li><a href="#">Партнеры</a></li>
                  <li><a href="#">Условия программы</a></li>
                  <li><a href="#">Поддержка</a></li>
                </ul><a class="logout-btn" href="opened_modal.html"><span class="visible-tablet"> Выйти</span></a>
              </div>
              <label class="toogle-menu" for="check-menu"></label>
              <label class="nav-overlay" for="check-menu"></label>
            </nav>
          </div>
        </header>
        <div class="submenu-holder">
          <div class="container">
            <ul class="submenu-list">
              <li><a href="index.html">Информация</a></li>
              <li><a href="profile.html">Профиль</a></li>
              <li><a href="security.html">Безопасность</a></li>
              <li><a href="#">История платежей</a></li>
            </ul>
          </div>
        </div>
        <section class="content">
          <div class="container">
            <h1>Профиль</h1>
            <div class="two-column">
              <div class="form-col">
                <!--remove class .edit from .form to hide inputs-->
                <form class="form edit" action="#">
                  <!--remove class .invalid-field from .form-row to reset styles invalid form fields-->
                  <div class="form-row invalid-field">
                    <label class="label" for="surname">Фамилия</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">Овчинников-Новогородцев</span>
                        <input class="input" id="surname" type="text" value="34Овчинников-Новогородцев">
                      </div><span class="invalid-message">Нельзя использовать цифры</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="name">Имя</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">Дмитрий</span>
                        <input class="input" id="name" type="text" value="Дмитрий">
                      </div><span class="invalid-message">Нельзя использовать цифры</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="patronymic">Отчество</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">Константинович</span>
                        <input class="input" id="patronymic" type="text" value="Константинович">
                      </div><span class="invalid-message">Нельзя использовать цифры</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="tel">Телефон</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">+7 987 654-32-10</span>
                        <input class="input" id="tel" type="tel" value="+7 987 654-32-10">
                      </div><span class="invalid-message">Нельзя использовать буквы</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="email">Email</label>
                    <div class="valid-field">
                      <div class="input-holder">
                        <input id="email" type="email" value="ovchinnikov-novgorod@gmail.com">
                        <button class="check-btn visible-desktop" type="button"></button>
                      </div><span class="invalid-message">Нельзя использовать</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="date">Дата рождения</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">01.12.1980</span>
                        <input class="input" id="date" type="text" value="01.12.1980">
                      </div><span class="invalid-message">Нельзя использовать буквы</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="select">Пол</label>
                    <select class="select" id="select">
                      <option selected>Муж.</option>
                      <option>Жен.</option>
                      <option>Не выбран</option>
                    </select>
                  </div>
                  <div class="checkbox-row">
                    <label class="custom-checkbox" for="check-1">
                      <input type="checkbox" checked id="check-1"><span class="fake-input"></span><span class="fake-label">Хочу иногда получать письма с информацией о скидках</span>
                    </label>
                  </div>
                  <div class="btn-holder hidden-desktop">
                    <button class="cancel" type="button">Отмена</button>
                    <button class="save" type="submit">Сохранить</button>
                  </div>
                </form>
              </div>
              <div class="info-col"><span class="text-has-exclamation-mark"><i class="exclamation-mark">!</i><span>Для изменения любого поля просто нажмите на него. Некоторые изменения потребуют введения кода, либо подтверждения с помощью смс-сообщения.</span></span>
                <ul class="link-list">
                  <li><a href="#">Навсегда отказаться от любых рассылок</a></li>
                  <li><a href="#">Как мы обрабатываем и храним личные данные</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.plugins.min.js"></script>
    <script src="js/jquery.main.js"></script>
  </body>
</html>

src/profile_with_input.pug
extends layouts/base

block title
    - var currentPage = "menu_home"
    title cp

block main
    div.submenu-holder
        div.container
            ul.submenu-list
                each page, key in SubMenuItems
                    if currentSubPage === key
                        li(class="active")
                            a(href= page.url)= page.label
                    else
                        li
                            a(href= page.url)= page.label
    section.content
        div.container
            h1 Профиль
            div.two-column
                div.form-col
                    //remove class .edit from .form to hide inputs
                    form(action="#").form.edit
                        //remove class .invalid-field from .form-row to reset styles invalid form fields
                        .form-row.invalid-field
                            label(for="surname").label Фамилия
                            .valid-field
                                .input-holder
                                    span.input-field Овчинников-Новогородцев
                                    input#surname(type="text" value="34Овчинников-Новогородцев").input
                                span.invalid-message Нельзя использовать цифры
                        .form-row
                            label(for="name").label Имя
                            .valid-field
                                .input-holder
                                    span.input-field Дмитрий
                                    input#name(type="text" value="Дмитрий").input
                                span.invalid-message Нельзя использовать цифры
                        .form-row
                            label(for="patronymic").label Отчество
                            .valid-field
                                .input-holder
                                    span.input-field Константинович
                                    input#patronymic(type="text" value="Константинович").input
                                span.invalid-message Нельзя использовать цифры
                        .form-row
                            label(for="tel").label Телефон
                            .valid-field
                                .input-holder
                                    span.input-field +7 987 654-32-10
                                    input#tel(type="tel" value="+7 987 654-32-10").input
                                span.invalid-message Нельзя использовать буквы
                        .form-row
                            label(for="email").label Email
                            .valid-field
                                .input-holder
                                    input#email(type="email" value="ovchinnikov-novgorod@gmail.com")
                                    button(type="button").check-btn.visible-desktop
                                span.invalid-message Нельзя использовать
                        .form-row
                            label(for="date").label Дата рождения
                            .valid-field
                                .input-holder
                                    span.input-field 01.12.1980
                                    input#date(type="text" value="01.12.1980").input
                                span.invalid-message Нельзя использовать буквы
                        .form-row
                            label(for="select").label Пол
                            select#select.select
                                option(selected=true) Муж.
                                option Жен.
                                option Не выбран
                        .checkbox-row
                            label(for="check-1").custom-checkbox
                                input(type="checkbox" checked)#check-1
                                span.fake-input
                                span.fake-label Хочу иногда получать письма с информацией о скидках

                        .btn-holder.hidden-desktop
                            button(type="button").cancel Отмена
                            button(type="submit").save Сохранить
                div.info-col
                    span.text-has-exclamation-mark
                        i.exclamation-mark !
                        span Для изменения любого поля просто нажмите на него. Некоторые изменения потребуют введения кода, либо подтверждения с помощью смс-сообщения.
                    ul.link-list
                        li
                            a(href="" + static_link) Навсегда отказаться от любых рассылок
                        li
                            a(href="" + static_link) Как мы обрабатываем и храним личные данные
