html/security.html
<!DOCTYPE html>
<html>
  <head>
    <title>cp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="all" href="css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <header id="header">
          <div class="container">
            <nav id="nav">
              <input id="check-menu" type="checkbox">
              <div class="menu-holder">
                <label class="close-btn" for="check-menu"></label>
                <ul class="menu">
                  <li class="active"><a href="index.html">Личный кабинет</a></li>
                  <li><a href="#">Партнеры</a></li>
                  <li><a href="#">Условия программы</a></li>
                  <li><a href="#">Поддержка</a></li>
                </ul><a class="logout-btn" href="opened_modal.html"><span class="visible-tablet"> Выйти</span></a>
              </div>
              <label class="toogle-menu" for="check-menu"></label>
              <label class="nav-overlay" for="check-menu"></label>
            </nav>
          </div>
        </header>
        <div class="submenu-holder">
          <div class="container">
            <ul class="submenu-list">
              <li><a href="index.html">Информация</a></li>
              <li><a href="profile.html">Профиль</a></li>
              <li class="active"><a href="security.html">Безопасность</a></li>
              <li><a href="#">История платежей</a></li>
            </ul>
          </div>
        </div>
        <section class="content">
          <div class="container">
            <h1>Безопасность</h1>
            <div class="two-column">
              <div class="form-col">
                <form class="form edit" action="#">
                  <!--add class .invalid-field to .form-row to styled invalid form fields (pls have a look at a page profile_with_input)-->
                  <div class="form-row has-forgot-password-link">
                    <label class="label" for="current-password">Текущий пароль</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">Овчинников-Новогородцев</span>
                        <input class="input" id="current-password" type="password" placeholder="************">
                      </div><span class="invalid-message">Invalid message</span><a class="forgot-password-link" href="#">Забыли пароль?</a>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="new-password">Новый пароль</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">Дмитрий</span>
                        <input class="input" id="new-password" type="password" placeholder="****************">
                      </div><span class="invalid-message">Invalid message</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="label" for="confirmation">Подтверждение</label>
                    <div class="valid-field">
                      <div class="input-holder"><span class="input-field">Константинович</span>
                        <input class="input" id="confirmation" type="password" placeholder="****************">
                      </div><span class="invalid-message">Invalid message</span>
                    </div>
                  </div>
                  <div class="btn-holder">
                    <button class="save" type="submit">Ок</button>
                  </div>
                </form>
              </div>
              <div class="info-col"><span class="text-has-exclamation-mark"><i class="exclamation-mark">!</i><span>Для изменения пароля введите текущий пароль, а затем новый и его подтверждение.</span></span>
                <ul class="link-list">
                  <li><a href="#">Как мы обрабатываем и храним личные данные</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.plugins.min.js"></script>
    <script src="js/jquery.main.js"></script>
  </body>
</html>

src/security.pug
extends layouts/base

block title
    - var currentPage = "menu_home"
    - var currentSubPage = "security"
    title cp

block main
    div.submenu-holder
        div.container
            ul.submenu-list
                each page, key in SubMenuItems
                    if currentSubPage === key
                        li(class="active")
                            a(href= page.url)= page.label
                    else
                        li
                            a(href= page.url)= page.label
    section.content
        div.container
            h1 Безопасность
            div.two-column
                div.form-col
                    form(action="#").form.edit
                        //add class .invalid-field to .form-row to styled invalid form fields (pls have a look at a page profile_with_input)
                        .form-row.has-forgot-password-link
                            label(for="current-password").label Текущий пароль
                            .valid-field
                                .input-holder
                                    span.input-field Овчинников-Новогородцев
                                    input#current-password(type="password" placeholder="************").input
                                span.invalid-message Invalid message
                                a(href="" + static_link).forgot-password-link Забыли пароль?
                        .form-row
                            label(for="new-password").label Новый пароль
                            .valid-field
                                .input-holder
                                    span.input-field Дмитрий
                                    input#new-password(type="password" placeholder="****************").input
                                span.invalid-message Invalid message
                        .form-row
                            label(for="confirmation").label Подтверждение
                            .valid-field
                                .input-holder
                                    span.input-field Константинович
                                    input#confirmation(type="password" placeholder="****************").input
                                span.invalid-message Invalid message
                        .btn-holder
                            button(type="submit").save Ок
                div.info-col
                    span.text-has-exclamation-mark
                        i.exclamation-mark !
                        span Для изменения пароля введите текущий пароль, а затем новый и его подтверждение.
                    ul.link-list
                        li
                            a(href="" + static_link) Как мы обрабатываем и храним личные данные
